<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间  namespace里是接口类名-->
<mapper namespace="org.deng.fileupload.Mapper.ImgMapper">
    <!--    插入一张图片
           id  属性指定了这个SQL语句对应的方法名称addImg。
           parameterType  属性指定了参数类型Img的全限定名。
           useGeneratedKeys="true"和keyProperty="id"  属性用于获取数据库生成的主键值并赋值给Img对象的id字段。
       -->
    <insert id="addImg" parameterType="org.deng.fileupload.Pojo.Img">
        insert into img(url, uploadtime, name, size)
        VALUES (#{url}, #{uploadtime}, #{name}, #{size})
    </insert>

    <!--    删除所有图片-->
    <delete id="deleteAllImg">
        delete from img
    </delete>

</mapper>